AWS_BUCKET_NAME = "Your-s3-bucket-name"
AWS_BUCKET_REGION = "Your-region"        # e.g. ap-southeast-2
AWS_ACCESS_KEY_ID = "Your-access-key-id"
AWS_SECRET_ACCESS_KEY = "Your-secret-access-key"

ADMIN_USER_NAME=admin123
ADMIN_EMAIL=admin1345@example.com
ADMIN_PASSWORD=admin123